In [1]:
import pandas as pd
filepath='new_supply.csv'
df=pd.read_csv(filepath)
df.head()

,Order ID,Order Date,Origin Port,Carrier,TPT,Service Level,Ship ahead day count,Ship Late Day count,Customer,Product ID,Plant Code,Destination Port,Unit quantity,Weight
0,1447296447,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,808,14.30
1,1447158015,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,3188,87.94
2,1447138899,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,2331,61.20
3,1447363528,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,847,16.16
4,1447363981,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,2163,52.34

In [2]:
df.rename(columns={'Unit quantity': 'Unit_quantity'}, inplace=True)
df.rename(columns={'Destination Port': 'Destination_Port'}, inplace=True)
df.rename(columns={'Plant Code': 'Plant_Code'}, inplace=True)
df.rename(columns={'Product ID': 'Product_ID'}, inplace=True)
df.rename(columns={'Ship ahead day count': 'Ship_ahead_day_count'}, inplace=True)
df.rename(columns={'Ship Late Day count': 'Ship_Late_Day_count'}, inplace=True)

In [3]:
attributes_to_keep = ['Plant_Code','Product_ID','Ship_ahead_day_count','Ship_Late_Day_count', 'Destination_Port','Unit_quantity', 'Weight']
df = df[attributes_to_keep]

In [ ]:
df.to_csv("cleaned_data_1.csv", index=False)